<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>GDI Boulder Materials</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/new/application.css" media="all" rel="stylesheet">
    <script src="/new/application.js"></script>
    <script src="/new/raphael-min.js"></script>
    <script src="/new/jquery.js"></script>
    <script src="/new/usa_states.js"></script>
    <script src="/new/chapter_mape.js"></script>
    <script src="/new/main.js"></script>
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <meta content="authenticity_token" name="csrf-param">
    <meta content="Dck1QQkG5x/NADF/We4mjo1nNqTIiIXDWctdGyA21iY=" name="csrf-token">
  </head>

  <body>


<!-- 	load header partial -->
<header>
    <div class="container">
      <a class="logo" href="http://girl-develop-it.herokuapp.com/"><img alt="Gdi logo" src="/new/gdi-logo.png"></a>
      <nav class="navigation">
        <ul>
          <li><a href="http://girl-develop-it.herokuapp.com/">home</a></li>
          <li><a href="http://girl-develop-it.herokuapp.com/about">about</a></li>
          <li><a href="http://girl-develop-it.herokuapp.com/chapters">chapters</a></li>
          <li></li>
          <li></li>
        </ul>
        <ul>
          <li><a href="https://twitter.com/girldevelopit"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/girldevelopit"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </nav>

    <div>
  </div></div></header>



  <p class="notice"></p>
  <p class="alert"></p>


<section class="main-container">
  <div class="container">
    <aside class="chapter-aside">
      <div class="state-container-aside">
        <a href="http://girl-develop-it.herokuapp.com/chapters"><img alt="GDI Boulder" src="/image/boulder-stamp.png"></a>
      </div>
      <hr>
      <h1>Boulder / Denver</h1>

      <ul class="media-links media-links-rounded">
    <a href="mailto:boulder@girldevelopit.com">
      <i class="fa fa-envelope"></i>
</a>
    <a href="https://www.facebook.com/gdiboulder">
      <i class="fa fa-facebook"></i>
</a>
    <a href="https://twitter.com/gdiboulder">
      <i class="fa fa-twitter"></i>
</a>

</ul>


      <p class="subtitle">- don't be shy -</p>
      <a class="button" href="http://www.meetup.com/Girl-Develop-It-Boulder">{ Join Us }</a>

      <!--
        <div class="hide">
          <div class="sponsors">
            <h2>Sponsors</h2>
            <div id="logos">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
            </div>
          </div>
        </div>
       -->
    </aside>

    <section id="content-section">
      <div id="headline">
        <img alt="Pencil" src="/new/pencil.png">
        <h2>Upcoming Events</h2>
      </div>

      <div class="classes">

        <h3><a href="http://www.meetup.com/Girl-Develop-It-Boulder-Denver/events/218826719/">Boulder Holiday Happy Hour</a></h3>
        <p class="subtitle">[ Thursday, December 18th 2014, 8:00 pm

            , <a href="http://maps.google.com/?q=1125%20Pearl%20St,%20Boulder,%20CO">1125 Pearl St,Boulder,CO</a>

         ] </p>
        <p> Let's toast to all our achievements over the past year! Join
 us at West Flanders brewery for drinks and snacks as we celebrate the
last Girl Develop It event of 2014. We have so many amazing events we're
 offering in 2015 and we can't wait to tell you about them!&nbsp; This
event is free, though of course we encourage you to support our
host,&nbsp;West Flanders!&nbsp;You will be responsible for purchasing
your o<a href="http://www.meetup.com/Girl-Develop-It-Boulder-Denver/events/218826719/">...read more</a></p>
        <a href="http://www.meetup.com/Girl-Develop-It-Boulder-Denver/events/218826719/" class="button">RSVP</a>
        <p class="meetup-map hide">

    <img src="/new/staticmap.png" alt="chapter map">

</p>



        <h3><a href="http://www.meetup.com/Girl-Develop-It-Boulder-Denver/events/219194614/">DENVER: Building Your First iOS App Using Swift [INTERMEDIATE]</a></h3>
        <p class="subtitle">[ Saturday, January 24th 2015, 11:00 am

            , <a href="http://maps.google.com/?q=1510%20Blake%20Street,%20Denver,%20CO">1510 Blake Street,Denver,CO</a>

         ] </p>
        <p>Want to learn how to build a native iOS app?&nbsp;On
Saturday, January 24 from 9am-5:00pm, we'll walk though how to use Swift
 (Apple's new programming language) to create your first iOS app. Class
will be taught using a mixture of lecture and practice. Lunch will be
provided.&nbsp; This is an intermediate-level course. Please see the
Prerequisites section below. For this intro class, we'll be using Xcode,
 A<a href="http://www.meetup.com/Girl-Develop-It-Boulder-Denver/events/219194614/">...read more</a></p>
        <a href="http://www.meetup.com/Girl-Develop-It-Boulder-Denver/events/219194614/" class="button">RSVP</a>
        <p class="meetup-map hide">

    <img src="/new/staticmap_002.png" alt="chapter map">

</p>

      </div>

        <div id="headline">
          <img alt="Flourish" src="/new/flourish.png">
          <h2>Chapter Leaders</h2>
        </div>

      <div class="profiles">

          <div class="single-profile">
            <div class="profile-img">
                <img alt="Carajo" src="/new/carajo.jpg">
            </div>

            <div class="profile-content">
              <h3>Cara Jo Miller</h3>
                <p>Cara Jo is a Boulder transplant by way of Detroit,
where she helped start the Girl Develop It's Detroit chapter. She coded
her first website back in 1996, which was a gallery for her Pokemon
drawings. After moving to Detroit, she moved beyond HTML/CSS to PHP and
while simultaneous becoming obsessed with WordPress. After five years of
 urban living in Detroit, Cara Jo decided mountain living was for her.
She'd heard the tech and startup scenes in Boulder were great and
decided to take the plunge out west. She now wrangles pixels and writes
code as the Lead Designer for Simple Energy. Getting more women involved
 in tech has always been one of Cara Jo's passions, and that's what she
brings to Boulder.</p>
               <p><i>In addition to being Boulder's Co-Leader, Cara Jo
teaches Introduction &amp; Intermediate HTML/CSS classes, &amp; various
workshops.</i></p>
              <ul class="media-links">
    <a href="mailto:carajo@girldevelopit.com">
      <i class="fa fa-envelope"></i>
</a>

    <a href="https://twitter.com/CorrinaJo">
      <i class="fa fa-twitter"></i>
</a>

</ul>

            </div>
          </div>
          <div class="single-profile">
            <div class="profile-img">
                <img alt="Kate" src="/new/kate.jpg">
            </div>

            <div class="profile-content">
              <h3>Kate Bierbaum</h3>
                <p>Kate is a software developer who has been writing
code for over a decade. She caught the coding bug in high school making
websites for fun and hasn't stopped since. After making it formal by
studying Computer Science &amp; Mathematics at Dickinson College, Kate
is now a professional developer who has worked at various start-ups in
Washington D.C. and Boulder, CO. In her spare time she enjoys hiking
with her dog and cycling.</p>
               <p><i>In addition to being Boulder's Co-Leader, Kate
teaches our Introduction to Javascript &amp; jQuery class &amp; also TAs
 our HTML/CSS classes.</i></p>
              <ul class="media-links">
    <a href="mailto:kate@girldevelopit.com">
      <i class="fa fa-envelope"></i>
</a>



</ul>

            </div>
          </div>
      </div>

      <div class="profiles">
          <div id="headline">
            <img alt="Apple" src="/new/apple.png">
            <h2>The Instructors</h2>
          </div>

          <div class="single-profile">
            <div class="profile-img">
                <img alt="Rachel" src="/new/rachel.jpg">
            </div>

            <div class="profile-content">
              <h3>Rachel Vecchitto</h3>
                <p>Rachel is a web developer who's been building things
on the internet since 2003. Currently employed by Etsy, she's also
worked at Meetup.com, the New York Times, and a few startups that didn't
 start. She moved to Boulder in 2011 and spends her spare time skiing,
climbing and generally hanging out in the mountains</p><p>
               </p><p><i>Rachel teaches our Introduction to Javascript
&amp; jQuery classes, TAs our HTML/CSS classes, &amp; organizes Code
&amp; Coffees.</i></p>
              <ul class="media-links">


    <a href="https://twitter.com/rachelv">
      <i class="fa fa-twitter"></i>
</a>

</ul>


            </div>
          </div>
          <div class="single-profile">
            <div class="profile-img">
                <img alt="Weston" src="/new/weston.jpg">
            </div>

            <div class="profile-content">
              <h3>Weston Platter</h3>
                <p>Weston fell in love with software when his friends
showed him how to dream with code.  He works as a freelance developer in
 Boulder leveraging Ruby, Javascript, iOS, and servers.  He is involved
with GDI because he wants to help others dream with code.</p>
              <ul class="media-links">


    <a href="https://twitter.com/westonplatter">
      <i class="fa fa-twitter"></i>
</a>

</ul>


            </div>
          </div>
          <div class="single-profile">
            <div class="profile-img">
                <img alt="Nick" src="/new/nick.png">
            </div>

            <div class="profile-content">
              <h3>Nick Lang</h3>
                <p>Nick lives in Pine, Colorado working remotely for
Simple Energy, specializing in the development and deployment of Python
web applications using the Django web framework. Nick's work sees him
contributing open source projects in all areas of web development. From
Bootstrap CSS scaffold plugins for Django, to presenting on using Salt
as a configuration management tool with Django deployments. Nick has
earned experience in all areas of building, deploying and maintaining
web sites.</p>
                        <p>Nick's other great passion is ultra-running, a
 pursuit characterized by dedication, determination and a disregard for
pain and self preservation. So passionate is Nick, that he is the
co-founder and creator of TreadHub, a web site dedicated to runners to
plan, track and share their training.</p>
              <ul class="media-links">


    <a href="https://twitter.com/fxdgear">
      <i class="fa fa-twitter"></i>
</a>

</ul>


            </div>
          </div>
          <div class="single-profile">
            <div class="profile-img">
                <img alt="Debra" src="/new/debra.jpg">
            </div>

            <div class="profile-content">
              <h3>Debra Zapata</h3>
                <p>Debra is originally from Bolivia but loves living in
Boulder. She was among the many that first learned about building
websites back in the 90s (thank you Geocities) and continued to learn
throughout college moving on to HTML/CSS. She recently attended
RefactorU to fast track her programming skills and is super excited to
help out with GDI Boulder. Her other passions include crafting and
reading sci-fi/fantasy young adult novels. Bring on the sparkly
vampires!</p>
                      <p><i>Debra Teaches our HTML/CSS Classes</i></p>
              <ul class="media-links">


    <a href="https://twitter.com/debrazapata">
      <i class="fa fa-twitter"></i>
</a>

</ul>


            </div>
          </div>
          <div class="single-profile">
            <div class="profile-img">
                <img alt="Caitlin" src="/new/caitlin.jpg">
            </div>

            <div class="profile-content">
              <h3>Caitlin McKenna</h3>
                <p>Caitlin is a Reed College graduate and Boulder
native. Her first job updating websites was for the Maria Rogers Oral
History Program in Boulder, where she cultivated a deep appreciation for
 the internet as a repository and resource. After working as a waitress,
 at a newspaper, and for USA Rugby, she took a job as a web developer,
where she gets to code every day. Caitlin now divides her time between
Insight Designs Web Solutions and her own company, <a href="http://dmck.us/" target="blank">DMCK Designs</a>,
 which produces mathematical scarves for chic geeks. In her free time,
Caitlin bakes paleo muffins, plays pool competitively, and takes her
hounddog on drags.</p>
               <p><i>Caitlin Teaches our Intro to Bootstrap class as well as TAs our HTML/CSS classes.</i></p>
              <ul class="media-links">


    <a href="https://twitter.com/caitlinemckenna">
      <i class="fa fa-twitter"></i>
</a>

</ul>


            </div>
          </div>
      </div>

      <div class="profiles">

      </div>

      <script type="text/template" id="meetup">

        <h3><a href=" <%= event_url %>"><%= name %></a></h3>
        <p class="subtitle">[ <%=moment(time).format("dddd, MMMM Do YYYY, h:mm a")%>
          <% if(typeof venue !== "undefined") { %>
            , <a href=" http://maps.google.com/?q=<%= venue.address_1 %>, <%= venue.city %>, <%= venue.state %>"><%= venue.address_1 %>,<%= venue.city %>,<%= venue.state %></a>
          <% } %>
         ] </p>
        <p><%= description.substring(0, 400) %><a href="<%= event_url %>">...read more</a></p>
        <a href="<%= event_url %>" class="button">RSVP</a>
        <p class="meetup-map hide">
  <% if( typeof venue !== "undefined" && venue.lat !== 0) { %>
    <img src= "http://maps.google.com/maps/api/staticmap?size=800x450&sensor=false&zoom=16&markers=<%= venue.lat %>%2C<%= venue.lon %>" alt="chapter map">
  <% } %>
</p>

      </script>


      <script type="text/javascript">
        var meetup_url = '/meetups/boulder-denver.json';
        $.getJSON(meetup_url).done(function (classesData){
            console.log("here are all the classes", classesData);
          if(classesData.length>0) {
            var classesArr = classesData.slice(0,3);
            console.log(classesArr);
            var oneClass = '';
            var classes = $('#meetup').html();
              _.each(classesArr, function (one) {
              oneClass += _.template(classes, one);
                $(".classes").html(oneClass);
            });
          } else {
            $(".classes").html("<p class=\"uhOh\">Sadly, no meetups are currently scheduled for this Chapter. <a href=\"http://meetup. com/Girl-Develop-It-Boulder\">Join our meetup group</a> to be notified when a new meetup is happening. Thanks for visiting us!</p>")};
          });

      </script>
    </section>
  </div>
</section>



<!-- load footer partial -->
	<footer>
	<div class="container">
		<div class="footer">
			<p class="subtitle hide">Don't see your city? Help bring Girl Develop It to your home town.</p>
			<p class="subtitle">To become a sponsor or for partnership opportunities, email  us at <a href="mailto:sponsorships@girldevelopit.com">sponsorships@girldevelopit.com</a> </p>
			<nav class="navigation">
				<a href="http://girl-develop-it.herokuapp.com/about">about</a>
				<a href="http://girl-develop-it.herokuapp.com/code-of-conduct">code of conduct</a>
				<a href="http://girldevelopit.tumblr.com/">blog</a>
			</nav>
			<nav class="navigation">
				<a href="https://twitter.com/girldevelopit"><i class="fa fa-twitter"></i></a>
			  <a href="https://www.facebook.com/girldevelopit"><i class="fa fa-facebook"></i></a>
			</nav>
		</div>
	</div>
</footer>




</body></html>